@font-face {
    font-family: proxima_nova;
    src: url("./font/proximanova.ttf");
    font-weight: normal;
    font-style: normal;
}
/*all*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, blockquote, p {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
li {
    list-style-type: none;
}
img {
    vertical-align: top;
    border: 0;
}
ol, ul {
    list-style: none;
}
address, cite, code, em, th {
    font-weight: normal;
    font-style: normal;
}
*::-webkit-scrollbar {
    display: none;
}
html,body{
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    font-family: proxima_nova, Helvetica, Arial, sans-serif;
    font-weight: lighter;
    overflow: scroll;
}
/*nav*/
.item{
    margin: 20px;
}
.nav{
    width: 100px;
    background: #1d2531;
    position: relative;
}
.nav .icon{
    position: absolute;
    bottom: 10px;
    left: 20%;
}
.nav .icon>img{
    margin: 5px;
    width: 18px;
    height: 18px;
}
/*menu*/
.menu{
    width: 250px;
    background:#222c3c;
    color: #b7c0cd;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}
.menu ul{
    margin: 20px 0;
}
.menu li{
    padding: 10px 30px;
    position: relative;
}
.menu li>.highlight{
    border: 1px solid #2399f1;
    border-radius: 0 2px 2px 0;
    position: absolute;
    left: 0;
    top: 50%;
}
.menu li:first-of-type{
    font-size: 12px;
    color: #5b6779;
    background: center right 30px url("./img/Settings.png") no-repeat;
}
.menu ul:nth-of-type(2)>li:nth-of-type(2){
    padding-left: 55px;
    background: url("./img/Book of Wisdom.png") center left 30px no-repeat;
}
.menu ul:nth-of-type(2)>li:nth-of-type(3){
    padding-left: 55px;
    background: url("./img/Video Camera.png") center left 30px no-repeat;
}
.menu ul:nth-of-type(2)>li:nth-of-type(4){
    padding-left: 55px;
    background: url("./img/Painting.png") center left 30px no-repeat;
}
.menu ul:nth-of-type(2)>li:nth-of-type(5){
    padding-left: 55px;
    background: url("./img/Chart.png") center left 30px no-repeat;
}
.baseBlue{
    color: white;
    /*width: 32px;*/
    height: 24px;
    padding: 0 8px;
    text-align: center;
    background: #2399f1;
    line-height: 24px;
    float: right;
    border-radius: 12px;
}
.baseRed{
    padding: 0 10px;
    color: white;
    height: 24px;
    text-align: center;
    line-height: 24px;
    background: linear-gradient( rgb(244,84,56) 0%, rgb(203,39,10) 100%);
    float: right;
    border-radius: 12px;
}
.menu>span{
    width: 190px;
    height: 1px;
    background: #2a3547;
    display: block;
    margin: 0 auto;
}
.goals{
    position: absolute;
    bottom: 0;
    padding: 20px 30px;
    font-weight: normal;
    color: white;
    background: #222c3c;
}
.goals>progress{
    width: 180px;
    height: 4px;
    border-radius: 2px;
    background-color:#475364;
    color: #7f5be6;
}
.goals>progress::-moz-progress-bar { background: #475364;border-radius: 2px; }
.goals>progress::-webkit-progress-bar { background: #475364;border-radius: 2px; }
.goals>progress::-webkit-progress-value  { background: linear-gradient(to right,#7f5be6,#9d8fe3);border-radius: 2px; }
/*message*/
.message{
    flex: 1;
    font-size: 14px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    color: #585d68;
    height: 100vh;
}
.topBar{
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(110,110,110,0.2);
}
.topBar>h1{
    font-size: 24px;
    font-weight: normal;
    padding: 30px;
    color: #354052;
}
.userInfo{
    width: 200px;
    position: absolute;
    right: 0;
    top: 20px;
    font-weight: 500;
}
.photo{
    float: left;
}
.dropdown{
    float: right;
    margin-right: 20px;
}
.userInfo>p:first-of-type{
    display: inline-block;
    margin-top: 6px;
    margin-left: 12px;
    color: #2399f1;
    font-size: 16px;
}
.userInfo>p:last-of-type{
    display: inline-block;
    margin-bottom: 6px;
    margin-left: 12px;
    color: #b5b5b5;
}
/*message左栏*/
.friend{
    width: 400px;
    height: calc( 100% - 88px);
    display: flex;
    flex-flow: column nowrap;
    border-right: 1px solid rgba(110,110,110,0.2);
}
.search{
    padding: 20px 30px;
    border-bottom: 1px solid rgba(110,110,110,0.2);
}
.search>input{
    width: 340px;
    height: 30px;
    font-family: inherit;
    border: 1px solid rgba(110,110,110,0.2);
    border-radius: 4px;
    padding: 12px;
    background: url("./img/Search icon.PNG") center right 12px no-repeat;
}
.friendList{
    height: calc(100% - 70px);
    overflow: scroll;
}
.friendList>.active{
    border-left: 3px solid #2399f1;
}
.shortChat:first-of-type{
    border-top: none;
}
.shortChat{
    padding: 20px;
    border-bottom: 1px solid rgba(110,110,110,0.2);
    position: relative;
}
.shortChat>img{
    float: left;
    margin-right: 10px;
}
.shortChat>p:first-of-type{
    padding: 8px;
}
.shortChat .status{
    background-color: #2399f1;
    margin-right: 5px;
}
.shortChat p>span:nth-of-type(1){
    font-size: 16px;
    font-weight: bold;
}
.shortChat p>span[class="active"]{
    color: #2399f1;
}
.shortChat p>span:nth-of-type(2){
    float: right;
    color: #7f8fa4;
    font-weight: bold;
}
.shortChat p>span:nth-of-type(3){
    display: inline-block;
    color: #b5b5b5;
    margin-top: 5px;
}
.shortChat p:nth-of-type(2){
    display: inline-block;
    width: 325px;
    line-height: 19px;
}
.shortChat .baseBlue{
    margin-top: 8px;
}
/*message右栏*/
.chat{
    flex: 1;
    border-left: none;
    border-right: none;
    padding: 20px;
}
.chat p{
    display: inline-block;
    width: 110px;
    font-size: 18px;
}
.status{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #1bb934;
}
.divider{
    display: inline-block;
    width: 1px;
    height: 32px;
    background: rgba(110,110,110,0.4);
}
.chat>form{
    float: right;
}
.chat button{
    display: inline;
    width: 36px;
    height: 32px;
    margin: 0;
    letter-spacing: 0;
}

.chat{
    flex: 1;
}