/*all*/
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,blockquote,p {padding:0;margin:0;}
*{box-sizing: border-box;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}
address,cite,code,em,th {font-weight:normal; font-style:normal;}
html,body{
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
/*nav*/
.container{
    display: flex;
    width: 100%;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    overflow: scroll;
}
.item{
    margin: 20px;
}
.nav{
    width: 100px;
    background: #1d2531;
    position: relative;
}
.nav .icon{
    position: absolute;
    bottom: 10px;
    left: 20%;
}
.nav .icon>img{
    margin: 5px;
    width: 18px;
    height: 18px;
}
/*menu*/
.menu{
    width: 250px;
    background:#222c3c;
    color: #b7c0cd;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}
.menu ul{
    margin: 20px 0;
}
.menu li{
    padding: 10px 30px;
    position: relative;
}
.menu li>.highlight{
    border: 1px solid #2399f1;
    border-radius: 0 2px 2px 0;
    position: absolute;
    left: 0;
    top: 50%;
}
.menu li:first-of-type{
    font-size: 12px;
    color: #5b6779;
    background: center right 30px url("./img/Settings.png") no-repeat;
}
.menu ul:nth-of-type(2)>li:nth-of-type(2){
    padding-left: 55px;
    background: url("./img/Book of Wisdom.png") center left 30px no-repeat;
}
.menu ul:nth-of-type(2)>li:nth-of-type(3){
    padding-left: 55px;
    background: url("./img/Video Camera.png") center left 30px no-repeat;
}
.menu ul:nth-of-type(2)>li:nth-of-type(4){
    padding-left: 55px;
    background: url("./img/Painting.png") center left 30px no-repeat;
}
.menu ul:nth-of-type(2)>li:nth-of-type(5){
    padding-left: 55px;
    background: url("./img/Chart.png") center left 30px no-repeat;
}
.baseBlue{
    color: white;
    width: 32px;
    height: 24px;
    position: absolute;
    right: 30px;
    top: 6px;
    text-align: center;
    line-height: 24px;
    background: url("./img/BaseBlue.png") center right no-repeat;
}
.baseRed{
    color: white;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 30px;
    top: 6px;
    text-align: center;
    line-height: 24px;
    background: url("./img/BaseRed.png") center right no-repeat;
}
.menu span{
    width: 190px;
    height: 1px;
    background: #2a3547;
    display: block;
    margin: 0 auto;
}
.goals{
    position: absolute;
    bottom: 0;
    padding: 20px 30px;
    font-weight: normal;
    color: white;
    background: #222c3c;
}
.goals>progress{
    width: 180px;
    height: 4px;
    border-radius: 2px;
    background-color:#475364;
    color: #7f5be6;
}
.goals>progress::-moz-progress-bar { background: #475364;border-radius: 2px; }
.goals>progress::-webkit-progress-bar { background: #475364;border-radius: 2px; }
.goals>progress::-webkit-progress-value  { background: linear-gradient(to right,#7f5be6,#9d8fe3);border-radius: 2px; }
/*message*/
.message{
    flex: 1;
    font-size: 14px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    color: #585d68;
}
.headBar{
    position: relative;
    width: 100%;
    height: 88px;
}
.headBar>h1{
    font-size: 24px;
    font-weight: normal;
    padding: 30px;
    color: #354052;
}
.userInfo{
    width: 200px;
    position: absolute;
    right: 0;
    top: 20px;
    font-weight: 500;
}
.userInfo>img{
    display: inline-block;
}
.photo{
    float: left;
}
.dropdown{
    float: right;
    margin-right: 20px;
}
.userInfo>p:first-of-type{
    display: inline-block;
    margin-top: 6px;
    margin-left: 12px;
    color: #2399f1;
    font-size: 16px;
}
.userInfo>p:last-of-type{
    display: inline-block;
    margin-bottom: 6px;
    margin-left: 12px;
    color: #b5b5b5;

}
.search{
    width: 400px;
    padding: 20px 40px;
    border: 0.4px solid rgba(110,110,110,0.4);
    border-left: none;
}
.search>input{
    width: 320px;
    height: 30px;
    font-family: inherit;
    border: none;
    background: url("./img/Search icon.PNG") center right no-repeat;
}
.search>input:focus{
    outline: none;
}
.control{
    flex: 1 1 40%;
    border: 0.4px solid rgba(110,110,110,0.4);
    border-left: none;
    border-right: none;
    padding: 20px;
}
.control p{
    display: inline-block;
    width: 110px;
    font-size: 18px;
    /*font-weight: bold;*/
}
.status{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #1bb934;
}
.divider{
    display: inline-block;
    width: 1px;
    height: 32px;
    background: rgba(110,110,110,0.4);
}
.control>form{
    float: right;
}
.control button{
    display: inline;
    width: 36px;
    height: 32px;
    margin: 0;
    letter-spacing: 0;
}
.content{
    display: flex;
    height: 100%;
}
.friend{
    width: 400px;
}
.chat{
    flex: 1;
}